/* Spinner.css */
.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Ensure it's above the graph */
}

.spinner-img {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
}
